.env
.venv
.cache
.env.staging
.env*
logs/
raw_dataset/
raw_datasets/

.DS_Store
__pycache__
*.pyc
*.pyo
*.pyd
*.pyw
*.pyz
*.pywz
*.pyzz
wandb/
datasets/
tuna_sdk/
_local_backup/

*/.env
*/.venv
*/.DS_Store
*/__pycache__/
*/*.pyc
*/*.pyo
*/*.pyd
*/*.pyw
*/*.pyz
*/*.pywz
*/*.pyzz
*/wandb/
*/datasets/
*/tuna_sdk/
*/_local_backup/   

outputs/
output/
*/outputs/
*/output/

tictaktoe_QA/tictaktoe_QA/
rawdatasets/

.env-staging
configs/

!tictaktoe_QA/configs/
tictaktoe_QA/configs/*
!tictaktoe_QA/configs/query_rl_compact.json
